@import "tailwindcss";
/* @tailwind base;
@tailwind components; */
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body {
  /* font-family: "Lexend", sans-serif; */
  font-optical-sizing: auto;
}



@keyframes bounce {

  0%,
  100% {
    transform: translateY(-15%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.bounced {
  animation: bounce 2s infinite;
}

@keyframes ping {

  25%,
  75% {
    transform: scale(2);
    opacity: 0;
  }
}

.pinged {
  animation: ping 2s infinite;
}

.fixed-navbar {
  position: sticky;
  top: 0;
  z-index: 49;
  background-color: #146cda;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  /* Limit to 2 lines */
  overflow: hidden;
  text-overflow: ellipsis;
}



@layer utilities {
  @keyframes spinAndPing {
    0% {
      transform: rotate(0deg) scale(1);
      opacity: 1;
    }
    25% {
      transform: rotate(90deg) scale(1.4);
      opacity: 0.3;
    }
    50%{
      transform: rotate(180deg) scale(0.5);
      opacity: 0.9;
    }
    75% {
      transform: rotate(270deg) scale(1.4);
      opacity: 0.3;
    }
    100% {
      transform: rotate(360deg) scale(1);
      opacity: 1;
    }
  }

  .hover-animate:hover {
    animation: spinAndPing 2s ease-out forwards infinite;
  }
}

.extra-group:hover .extra-group-1{
  opacity: 100;
}


.accordion-content {
  overflow: hidden;
  transition: max-height 0.5s ease;
  max-height: 0;
}

.accordion-content.open {
  max-height: 500px; 
}

.extra-blog:hover .extra-subblog{
  opacity: 100;
  transition: all 1s;
}

.selectdownarrow {
  -webkit-appearance: none;
  -moz-appearance: none;    
  appearance: none;        
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23444" height="12" viewBox="0 0 24 24" width="12" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 1rem center; 
  background-size: 30px;
  padding-right: 2rem;
}

.selectdownarrow:focus {
  outline: none;
}


/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
